* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;

  background-color: rgba(28,110,164,0.62)
}
.principal{
   text-align: center;
   background: #BBBBBB;
}

.copyright{
  color:#79BBEE;
  font-size: 13px;
  margin:20px;
  position: relative;
  width: 100vw;
  height: 100vh;
}
header, footer {
  background-color: #79BBEE;
  padding: 20px 0;
}

body {
  padding: 10px;
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  font-style: oblique;
  font-size: 30px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  font-style:inherit;
}

select, input[type="number"] {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(2, 1, 1);
  line-height: 20px;
  padding: 14px;
  background-color: #81c9fa;
  font-family: Georgia; 
  font-size: 25px;
}

input[type="text"] {
  font-style: initial;
  text-align: center;
  align-content: center;
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 300px;
}

#resultado_input {
  text-align: center;
  align-content: center;
  font-size:large;
  font-style: italic;
  margin: 10px;
  margin-top: 10px;
}
.terminos p {
  text-align:center;
  font-style: italic;
  margin: 15px;
}
p{
  text-align:right;
  font-style: italic;
  margin: 10px;
}

